<!DOCTYPE html>
<html lang="ko">
<head>
    <!--Required meta tags-->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!--Bootstrap Css-->
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}"> 
    <!--starspring css-->
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
    <title>Hello starsong</title>
</head>

<body>
 

<!--navbar--->
<nav th:replace="~{navbar :: navbarFragment}"></nav>

<!--template start-->
<th:block layout:fragment="content"></th:block>
<!--template end-->

<!--BootStrap JS-->
<script th:src="@{/js/bootstrap.min.js}"></script>

<!--javascript start!-->
<script th:inline="javascript">
    /* 이 부분에 toggleForm() 함수를 정의합니다. */
    function toggleForm(formId) {
        var forms = document.getElementsByClassName('customcontainer');
        for (var i = 0; i < forms.length; i++) {
            forms[i].classList.remove('show'); // 모든 폼을 숨김
        }
        document.getElementById(formId).classList.add('show'); // 선택한 폼만 표시
    }
</script>
<th:block layout:fragment="script"></th:block>
</body>

</html>
