<html layout:decorate="~{layout}">
<div layout:fragment="content" class="container">
    <h5 class="my-3 border-bottom pb-2">번호 추천</h5>

    <!-- 번호 추천기 시작 -->
    <div>
        <label for="number">추천받을 번호 개수:</label>
        <input type="number" id="number-input" name="number" min="1" max="10" value="1">
        <button onclick="getRecommendations()">추천 받기</button>
    </div>
    <div id="recommended-numbers">
        <!-- 여기에 추천 번호가 나열됩니다. -->
    </div>
    <!-- 번호 추천기 끝 -->

</div>

</html>

<script>
    function getRecommendations() {
        var numberInput = document.getElementById("number-input");
        var count = parseInt(numberInput.value);

        var recommendedNumbers = generateRandomNumbers(count);
        var recommendedNumbersContainer = document.getElementById("recommended-numbers");

        // 이전에 생성된 추천 번호를 초기화합니다.
        recommendedNumbersContainer.innerHTML = "";

        // 생성된 추천 번호를 목록에 추가합니다.
        for (var i = 0; i < recommendedNumbers.length; i++) {
            var listItem = document.createElement("p");
            listItem.textContent = "추천 번호 " + "--> " + recommendedNumbers[i];
            recommendedNumbersContainer.appendChild(listItem);
        }
    }

    function generateRandomNumbers(count) {
            var result = [];
            for (var i = 0; i < count; i++) {
                var numbers = [];
                while (numbers.length < 6) {
                    var randomNumber = Math.floor(Math.random() * 45) + 1;
                    if (!numbers.includes(randomNumber)) {
                        numbers.push(randomNumber);
                    }
                }
                numbers.sort((a,b) =>a - b);
                result.push(numbers.join(" "));
            }
            return result;
        }

</script>